<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">F8 Education</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Thomas
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../courses/create">Đăng khóa học</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                            <a class="dropdown-item" href="/me/stored/news">Tin tức của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>